*,
*::before,
*::after{
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    padding-top: 63px;
}
.logo{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;

}
.logo span{
    color:#4BCAFF;
}
.header_menu{
    display: flex;
    background: #35444F;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 69px;
    margin-top: 40px;
}

.header_links{
    font-size: 24px;
    line-height: 4px;
    font-weight: 400;
    border-left: 1px solid #FFFFFF;
    border-right: 1px  solid #FFFFFF;
    padding: 40px;
    color: #FFFFFF;
}
.header_hover:hover{
    background: #222F3A;
    line-height: 17px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.main{
    padding-top: 49px ;
}
.main_contant{
    display: flex;
    gap: 53px;
}
.aside_menu{
    display: flex;
    border: 1px solid #000000;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 400px;
    width: 344px;
    padding-left: 43px;
}

.aside_link{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 1px;
    color: #485863;
    transition: 0.3s;

}

.image{
    border: 1px solid black;
    width: 885px;
    height: 529px;
    padding: 75px 268px 73px 297px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 381px;

    transition: 1s;
}
.img:hover{
    transform: scale(1.15);
}
.main_text{
    margin-top: 40px;
}
.text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
    margin-left: 397px;
    width: 885px;
}
.footer_contant{
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    justify-content: space-around;
    align-items: center;

}
.footer_menu{
    display: flex;
    gap: 30px;


}


.copyright{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.footer_liks{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color:#0C1927;
}
.logoBnt{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
button{
    background-color: #4BCAFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    height: 75px;

}

.active{
    background-color: #4BCAFF;

}
.active_color{
    color: greenyellow;
}

